@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* font-family import */
    /*@font-face {*/
    /*    font-family: 'Lexend';*/
    /*    font-style: normal;*/
    /*    font-weight: 400;*/
    /*    font-display: swap;*/
    /*    src: local('Lexend Regular'), local('Lexend-Regular') format('truetype');*/
    /*}*/

    /*TODO: fix this not working for chrome or private browsing*/
    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    /* font-family applied on site via html */
    html {
        font-family: 'Lexend', sans-serif;
    }
}

@layer components {
    html,
    body {
        @apply text-[16px] font-normal;
    }

    section {
        @apply px-4;
    }

    input {
        @apply border;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-[35px];
        @screen sm {
            font-size: 38px;
        }
        @screen md {
            font-size: 40px;
        }
        @screen lg {
            font-size: 46px;
        }
        @screen xl {
            font-size: 61px;
        }
    }

    h2 {
        @apply text-[22.83px];
        @screen sm {
            font-size: 25px;
        }
        @screen md {
            font-size: 28px;
        }
        @screen lg {
            font-size: 34px;
        }
        @screen xl {
            font-size: 49px;
        }
    }

    h3 {
        @apply text-[19px];
        @screen sm {
            font-size: 22px;
        }
        @screen md {
            font-size: 24px;
        }
        @screen lg {
            font-size: 30px;
        }
        @screen xl {
            font-size: 45px;
        }
    }

    h4 {
        @apply text-[16px];
        @screen sm {
            font-size: 18px;
        }
        @screen md {
            font-size: 20px;
        }
        @screen lg {
            font-size: 26px;
        }
        @screen xl {
            font-size: 41px;
        }
    }

    h5 {
        @apply text-[16px];
        @screen sm {
            font-size: 18px;
        }
        @screen md {
            font-size: 20px;
        }
        @screen lg {
            font-size: 24px;
        }
        @screen xl {
            font-size: 35px;
        }
    }

    h6 {
        @apply text-[16px];
        @screen sm {
            font-size: 18px;
        }
        @screen md {
            font-size: 20px;
        }
        @screen lg {
            font-size: 22px;
        }
        @screen xl {
            font-size: 31px;
        }
    }

    /* DaisyUI Cards overlapped Header & Navigation Drawer */
    .card {
        @apply z-[1]
    }

    .card-body {
        @apply p-4
    }

    header {
        @apply z-[2];
    }

    .drawer-side {
        @apply z-[3];
    }
}
